@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #3a4664;
  color: #fff;

  li {
    list-style: none;
  }
}

.nav-links a {
  color: #fff;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */
input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .flex-row {
    flex-direction: column !important;
  }

  .menu {
    display: none;
    position: absolute;
    background-color: #3a4664;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

.input-text {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-btn {
  width: 15%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset {
  background-color: #f44336;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

.form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

.result {
  width: 50%;
  margin: auto;
  height: 400px;
  overflow: auto;
  margin-top: 20px;
}

.success,
.error {
  color: white;
  width: 100%;
  p {
    padding: 10px;
  }
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.main {
  margin: auto;
  width: 80%;
  padding: 10px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin: auto;
}

.animal-result {
  height: auto;
  width: auto;
}

h3 {
  font-weight: 500;
}
